[Unit]
Description=devpi pypy proxy
Requires=podman.socket podman-network@services.service traefik.service
After=podman.socket podman-network@services.service traefik.service
BindsTo=containers.target
Before=containers.target

[Service]
Type=notify
NotifyAccess=all
Environment=PODMAN_SYSTEMD_UNIT=%n
Environment=IMAGE_TAG=latest
EnvironmentFile=-/etc/local/devpi.env
Restart=on-failure
ExecStart=/usr/bin/podman run \
	--cgroups=no-conmon --sdnotify=conmon -d \
	--replace --name %n \
	--network services \
	-v devpi-data:/data \
	-l 'traefik.enable=true' \
	-l 'traefik.http.routers.devpi.rule=Host(`devpi.internal`)' \
	-l 'traefik.http.services.devpi.loadbalancer.server.port=3141' \
	ghcr.io/larsks/devpi:${IMAGE_TAG}
ExecStop=/usr/bin/podman stop --ignore %n

[Install]
WantedBy=containers.target
