[Unit]
Description=Podman network %i
Requires=podman.socket
After=podman.socket

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'podman network exists %i || podman network create %i'
